extends ./view.jade

block content
	- if(activePublisherInstance.status){
		div(class="panel panel-" + activePublisherInstance.status.code)
			div(class="panel-heading") Status
			div(class="panel-body") #{activePublisherInstance.status.msg}
	- }
	div(class="panel panel-primary")
		div(class="panel-heading") Publisher Settings
		div(class="panel-body")
			form(role='form' method="post")
				+inputs(activePublisherInstance.config)
	div(class="panel panel-danger")
		div(class="panel-heading") Delete
		div(class="panel-body")
			p Delete this publisher instance.
			a(href="./delete")
				div(class="btn btn-danger") Delete
